<h1>Welcome to the Car Simulator</h1>

<form action="create" method="get">
  <input type="text" name="make" placeholder="make"/>
  <input type="number" name="model_year" placeholder="model year"/>
  <input type="submit" value="Simulate Car"/>
</form>
